* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    text-decoration: none!important;
}

body {
    width: 100%;
    min-height: 100vh;
    margin-top: 8rem;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
}

button:active {
    opacity: 0.9;
}

.cur {
    cursor: pointer;
}

.bg-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100000;
}
/* custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
.btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    filter: drop-shadow(0 0.2rem 0 #fff);
}

.notice tbody tr:nth-child(odd) {
    background-color: var(--grey-color);
}
/* recharge style */
.exchange-tab li button,
.exchange-tab li button:hover {
    background: var(--grey-color);
    color: #fff;
    padding: 0.1rem;
    border-radius: 0.1rem;
}

.exchange-tab li button.active {
    background: var(--bs-warning);
    color: #000;
}
/* Power ladder */
.power-ladder button.hover:hover{
    background-color: var(--bs-warning);
}

.EOS-powerball button.btn-danger.hover {
    background: #ef6464;
}
.EOS-powerball button.btn-primary.hover {
    background: #65a7e6;
}
.EOS-powerball button.hover:hover {
    background: #fcf372;
    color: black;
}



@media (max-width: 400px) {
    html {
        font-size: 50%;
    }
}